/* Definiendo variables */
:root {
  --main-bg-color: #1d1d1d;
  --button-bg-color: #111111;
  --button-hover-bg-color: #2b2b2b;
  --button-symbol-bg-color: #db5800;
  --text-color: white;
  --border-radius: 5rem;
  --font-size: 20px;
  --padding: 1rem;
  --margin: 0.3rem;
}

/* Aplicando las variables */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  min-height: 100vh;
  background: var(--main-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculadora {
  background: black;
  color: var(--text-color);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 300px;
  max-width: 100%;
  padding: 1.5rem;
  border-radius: 1rem;
}

#pantalla {
  grid-column: span 4;
  background: #2b2b2b;
  padding: 1rem;
  height: 65px;
  font-size: 2rem;
  text-align: right;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  font-family: monospace;
  font-weight: 600;
  overflow: hidden;
}

.btn,
.superior,
.symbol {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  border: none;
  cursor: pointer;
  font-size: var(--font-size);
  border-radius: var(--border-radius);
}

.btn {
  background: var(--button-bg-color);
  padding: var(--padding);
  margin: var(--margin);
}

.btn:hover {
  background: var(--button-hover-bg-color);
}

#cero {
  grid-column: span 2;
}

.superior {
  background: var(--button-hover-bg-color);
  padding: 0.8rem 0.5rem;
  margin: 0.5rem;
}

.superior:hover {
  background: #4d4d4d;
}

.symbol {
  background: var(--button-symbol-bg-color);
  padding: 0.8rem 0.5rem;
  margin: 0.5rem;
}
.symbol:hover {
  background: #ff812d;
}
